<ion-view view-title="About">
  <ion-content class="content-padded">
        <p>Make your BattleTech games less tedious and more action-packed, with this calculator.</p>
        <p>This application and its author are in no way affiliated with AFSA, Topps, or other trademarked and copyrighted materials. This is a fan-created app.</p>
        <p>If you have problems or suggestions, contact Atlas Neurosystems through the app's Store page. <i>We welcome your feedback, since we cannot test on every phone. Your bug reports are important to us.</i></p>
  </ion-content>
</ion-view>
