<ion-view view-title="About">
  <ion-content class="content-padded">
        <p>Make your BattleTech games less tedious and more action-packed, with this calculator.</p>
        <p>This application and its author are in no way affiliated with AFSA, Topps, or other trademarked and copyrighted materials. This is a fan-created app.</p>
        <p class="bold italic">If you have problems or suggestions, let us know. We welcome your feedback. Your bug reports are important to us.</p>
        <p><a href="http://www.AtlasNeurosystems.info/" target="_blank" class="bold large">www.AtlasNeurosystems.Info</a></p>
  </ion-content>
</ion-view>
