<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="panelContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h3 class="title">BattleTech Calculator</h3>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/weaponhit"><i class="icon ion-chevron-right icon-accessory"></i>Weapon To-Hit</ion-item>
                <ion-item menu-close href="#/app/weaponlocation"><i class="icon ion-chevron-right icon-accessory"></i>Weapon Hit Location</ion-item>
                <ion-item menu-close href="#/app/meleehit"><i class="icon ion-chevron-right icon-accessory"></i>Melee To-Hit</ion-item>
                <ion-item menu-close href="#/app/meleelocation"><i class="icon ion-chevron-right icon-accessory"></i>Melee Hit Location</ion-item>
                <ion-item menu-close href="#/app/cluster"><i class="icon ion-chevron-right icon-accessory"></i>Cluster Hits</ion-item>
                <ion-item menu-close href="#/app/about"><i class="icon ion-chevron-right icon-accessory"></i>About</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
