<ion-view view-title="Melee Hit Location">
    <ion-content class="content-bigtable">

        <div class="row">
            <div class="col center">
                <a href="javascript:void(0);" ng-click="rollAndHighlight()" style="display:inline-block;"><img src="img/die.svg"></i></a>
                &nbsp;
                <select ng-model="viewdata.meleetype" ng-change="rollAndHighlight()" style="height:26px; vertical-align:top;">
                    <option value="punch">Punch / Club / Hatchet / Sword</option>
                    <option value="kick">Kick</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col center bold"></div>
            <div class="col center bold">Left<br/>Side</div>
            <div class="col center bold">Front<br/>Rear</div>
            <div class="col center bold">Right<br/>Side</div>
        </div>

        <div ng-show="viewdata.meleetype == 'punch'">
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 1}">
                <div class="col bold right">1</div>
                <div class="col center">L. Torso</div>
                <div class="col center">L. Arm</div>
                <div class="col center">R. Torso</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 2}">
                <div class="col bold right">2</div>
                <div class="col center">L. Torso</div>
                <div class="col center">L. Torso</div>
                <div class="col center">R. Torso</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 3}">
                <div class="col bold right">3</div>
                <div class="col center">C. Torso</div>
                <div class="col center">C. Torso</div>
                <div class="col center">C. Torso</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 4}">
                <div class="col bold right">4</div>
                <div class="col center">L. Arm</div>
                <div class="col center">R. Torso</div>
                <div class="col center">R. Arm</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 5}">
                <div class="col bold right">5</div>
                <div class="col center">L. Arm</div>
                <div class="col center">R. Arm</div>
                <div class="col center">R. Arm</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 6}">
                <div class="col bold right">6</div>
                <div class="col center">Head</div>
                <div class="col center">Head</div>
                <div class="col center">Head</div>
            </div>
        </div>
        <div ng-show="viewdata.meleetype == 'kick'">
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 1}">
                <div class="col bold right">1</div>
                <div class="col center">L. Leg</div>
                <div class="col center">R. Leg</div>
                <div class="col center">R. Leg</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 2}">
                <div class="col bold right">2</div>
                <div class="col center">L. Leg</div>
                <div class="col center">R. Leg</div>
                <div class="col center">R. Leg</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 3}">
                <div class="col bold right">3</div>
                <div class="col center">L. Leg</div>
                <div class="col center">R. Leg</div>
                <div class="col center">R. Leg</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 4}">
                <div class="col bold right">4</div>
                <div class="col center">L. Leg</div>
                <div class="col center">L. Leg</div>
                <div class="col center">R. Leg</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 5}">
                <div class="col bold right">5</div>
                <div class="col center">L. Leg</div>
                <div class="col center">L. Leg</div>
                <div class="col center">R. Leg</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 6}">
                <div class="col bold right">6</div>
                <div class="col center">L. Leg</div>
                <div class="col center">L. Leg</div>
                <div class="col center">R. Leg</div>
            </div>
        </div>


    </ion-content>
</ion-view>
