<ion-view view-title="Weapon Hit Location">
    <ion-content class="content-bigtable">

        <div class="row">
            <div class="col center">
                <a href="javascript:void(0);" ng-click="rollAndHighlight();" style="display:inline-block;"><img src="img/die.svg"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col center bold"></div>
            <div class="col center bold">Left<br/>Side</div>
            <div class="col center bold">Front<br/>Rear</div>
            <div class="col center bold">Right<br/>Side</div>
        </div>

        <div class="table-zebra">
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 2}">
                <div class="col bold">2</div>
                <div class="col center">L. Torso</div>
                <div class="col center">C. Torso</div>
                <div class="col center">R. Torso</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 3}">
                <div class="col bold">3</div>
                <div class="col center">L. Leg</div>
                <div class="col center">R. Arm</div>
                <div class="col center">R. Leg</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 4}">
                <div class="col bold">4</div>
                <div class="col center">L. Arm</div>
                <div class="col center">R. Arm</div>
                <div class="col center">R. Arm</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 5}">
                <div class="col bold">5</div>
                <div class="col center">L. Arm</div>
                <div class="col center">R. Leg</div>
                <div class="col center">R. Arm</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 6}">
                <div class="col bold">6</div>
                <div class="col center">L. Leg</div>
                <div class="col center">R. Torso</div>
                <div class="col center">R. Leg</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 7}">
                <div class="col bold">7</div>
                <div class="col center">L. Torso</div>
                <div class="col center">C. Torso</div>
                <div class="col center">R. Torso</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 8}">
                <div class="col bold">8</div>
                <div class="col center">C. Torso</div>
                <div class="col center">L. Torso</div>
                <div class="col center">C. Torso</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 9}">
                <div class="col bold">9</div>
                <div class="col center">R. Torso</div>
                <div class="col center">L. Leg</div>
                <div class="col center">L. Torso</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 10}">
                <div class="col bold">10</div>
                <div class="col center">R. Arm</div>
                <div class="col center">L. Arm</div>
                <div class="col center">L. Arm</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 11}">
                <div class="col bold">11</div>
                <div class="col center">R. Leg</div>
                <div class="col center">L. Arm</div>
                <div class="col center">L. Leg</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 12}">
                <div class="col bold">12</div>
                <div class="col center">Head</div>
                <div class="col center">Head</div>
                <div class="col center">Head</div>
            </div>
        </div><!--/zebra-->

        <div ng-show="viewdata.critroll !== null">
            <div ng-show="viewdata.crithits == 0" class="critical-no">
                Critical: {{ viewdata.critroll }}
                <br/>
                No critical hit.
            </div>
            <div ng-show="viewdata.crithits == 1" class="critical-yes">
                Critical: {{ viewdata.critroll }}
                <br/>
                Achieved ONE critical hit.
            </div>
            <div ng-show="viewdata.crithits == 2" class="critical-yes">
                Critical: {{ viewdata.critroll }}
                <br/>
                Achieved TWO critical hits.
            </div>
            <div ng-show="viewdata.crithits == 3" class="critical-yes">
                Critical: {{ viewdata.critroll }}
                <br/>
                Achieved THREE critical hits.
                <br/>
                Arm or Leg destroyed. Head is fatal.
            </div>
        </div>

    </ion-content>
</ion-view>
