<ion-view view-title="Weapon Hit Location">
    <ion-content class="content-bigtable">

        <div class="row">
            <div class="col right">
                <a href="javascript:void(0);" ng-click="rollAndHighlight();" style="display:inline-block;"><img src="img/die.svg"></a>
            </div>
            <div class="col center bold">Left<br/>Side</div>
            <div class="col center bold">Front<br/>Rear</div>
            <div class="col center bold">Right<br/>Side</div>
        </div>

        <div class="table-zebra">
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 2}">
                <div class="col bold right">2</div>
                <div class="col center">L. Torso</div>
                <div class="col center">C. Torso</div>
                <div class="col center">R. Torso</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 3}">
                <div class="col bold right">3</div>
                <div class="col center">L. Leg</div>
                <div class="col center">R. Arm</div>
                <div class="col center">R. Leg</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 4}">
                <div class="col bold right">4</div>
                <div class="col center">L. Arm</div>
                <div class="col center">R. Arm</div>
                <div class="col center">R. Arm</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 5}">
                <div class="col bold right">5</div>
                <div class="col center">L. Arm</div>
                <div class="col center">R. Leg</div>
                <div class="col center">R. Arm</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 6}">
                <div class="col bold right">6</div>
                <div class="col center">L. Leg</div>
                <div class="col center">R. Torso</div>
                <div class="col center">R. Leg</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 7}">
                <div class="col bold right">7</div>
                <div class="col center">L. Torso</div>
                <div class="col center">C. Torso</div>
                <div class="col center">R. Torso</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 8}">
                <div class="col bold right">8</div>
                <div class="col center">C. Torso</div>
                <div class="col center">L. Torso</div>
                <div class="col center">C. Torso</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 9}">
                <div class="col bold right">9</div>
                <div class="col center">R. Torso</div>
                <div class="col center">L. Leg</div>
                <div class="col center">L. Torso</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 10}">
                <div class="col bold right">10</div>
                <div class="col center">R. Arm</div>
                <div class="col center">L. Arm</div>
                <div class="col center">L. Arm</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 11}">
                <div class="col bold right">11</div>
                <div class="col center">R. Leg</div>
                <div class="col center">L. Arm</div>
                <div class="col center">L. Leg</div>
            </div>
            <div class="row" ng-class="{ highlighted:viewdata.outcome == 12}">
                <div class="col bold right">12</div>
                <div class="col center">Head</div>
                <div class="col center">Head</div>
                <div class="col center">Head</div>
            </div>
        </div><!--/zebra-->

        <!-- critical hits readout if indeed there were any -->
        <div class="criticalhit-message" ng-class="viewdata.critmessage ? 'critical-show' : 'critical-hide'">
            {{ viewdata.critmessage }}
        </div>

    </ion-content>
</ion-view>
