/*
 * GLOBAL STUFF SUCH AS THE FONT
 */
body {
    font-family: sans-serif;
    font-size:9pt;
}

/*
 * GENERAL UTILITY CLASSES
 */
.right  { text-align: right; }
.left   { text-align: left; }
.center { text-align: center; }
.bold   { font-weight: bold; }
.italic { font-style: italic; }
.alert  { background-color:yellow; color:red; }
.large  { font-size:125%; }
.bottompad { margin-bottom:0.5em; }

/*
 * SLIDE-IN MENU
 */
ion-side-menu[side="left"] i.icon {
    float:right;
}
ion-side-menu[side="left"] a.item-content {
    padding-right:10px;
    color: black !important;
    font-weight:bold;
}

/*
 * STYLES FOR ROLLING DICE
 * AND FOR HIGHLIGHTING VARIOUS OUTCOMES
 */
.loading-container .loading {
    background-color: rgba(255,255,255,0.0)
}
.backdrop {
    background-color: rgba(255,255,255,0.8);
}
a {
    text-decoration:none;
    color:rgb(102,102,255) !important;
    cursor:pointer;
}
a.dice {
    color:rgb(102,102,255) !important;
    cursor:pointer;
    font-size:1.5em;
}
div.row.highlighted {
    background-color:orange;
}
div.critical-no {
    background-color:yellow;    
    font-weight:bold;
    text-align:center;
}
div.critical-yes {
    background-color:red;
    color:white;
    font-weight:bold;
    text-align:center;
}

/*
 * SUBCLASSES OF ion-content for padded text, edge-to-edge tables, etc.
 */
ion-content.content-padded {
    margin:1em 1em 1em 1em;
}
ion-content.content-bigtable {
    margin:0 0 0 0;
}

/*
 * SUBCLASSES OF TABLE for various padding needs, zebra stripe needs, etc
 */
div.table-zebra div.row:nth-child(even) {
    background-color:rgba(0, 0, 0, 0.00);
}
div.table-zebra div.row:nth-child(odd) {
    background-color:rgba(0, 0, 0, 0.05);
}
div.table-padded .row + .row {
    margin-top:0 !important; /* override a Ionic default */
}
div.table-padded div.col {
    padding:5px 0 5px 5px;
}


/*
 * HACKS for some specific use cases
 */
a.quirk-edit-button {
    margin-left:1em;
    cursor:pointer;
    color:black !important;
}


/*
 * IONIC OVERRIDES
 */
.row {
    padding:0;
}
.row .col {
    padding:.25em 1em 0.25em 1em;
}